# 素材
banner/
footage/
pic/
public/
ranking/
z_fm/

# 缓存
*_AME/
Adobe*/

# 数据
/*.csv
/*.json
/*.txt
/*.xlsx
/*.html
/*.tex
/*.ttf
/BBDown.data
/BBDown.exe

# 工程
/*.aep
/*.jpg
/*.mp4
/*.png
/*.psd
!.eslintrc.js