# project
*.aep
*.csv
*.html
*.jpg
*.json
*.mp4
*.png
*.psd
*.tex
*.ttf
*.txt
*.xlsx
*_AME/
*日志/
Adobe*/
banner/
footage/
pic/
public/
ranking/
z_fm/

# dev
!render.html
.python-version
.ruff_cache/
.venv/
node_modules/
uv.lock