--file-pattern
av<aid>
--multi-file-pattern
av<aid>
#--select-page
#1
--encoding-priority
avc,hevc,av1
--dfn-priority
"1080P 高帧率,1080P 高码率"
--skip-cover
--use-aria2c
--aria2c-args
-x16 -s12 -j20 -k1M --continue --check-certificate=false --file-allocation=none --summary-interval=0 --download-result=hide
--skip-subtitle
--work-dir
.\ranking\list0\